@using Kore.Web.ContentManagement.Areas.Admin.Newsletters

@model NewsletterUserProfileProvider

<div class="checkbox">
    <label>
        @Html.CheckBoxFor(m => m.SubscribeToNewsletters, new { disabled = "disabled" }) Subscribe to Newsletters
    </label>
</div>