@using Kore.Web.ContentManagement.Areas.Admin.Newsletters

@model NewsletterUserProfileProvider

<div class="checkbox">
    <label>
        @Html.CheckBoxFor(m => m.SubscribeToNewsletters, new { disabled = "disabled" }) @T(KoreCmsLocalizableStrings.UserProfile.Newsletter.SubscribeToNewsletters)
    </label>
</div>