@using Kore.Web.ContentManagement

@model Kore.Plugins.Widgets.Google.ContentBlocks.GoogleAnalyticsBlock

<div id="block-content">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="form-group">
            @Html.LabelFor(m => m.AccountNumber, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                @Html.TextBoxFor(m => m.AccountNumber, new { @class = "form-control", data_bind = "value: blockModel.accountNumber" })
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="form-group">
            @Html.LabelFor(m => m.DomainName, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                @Html.TextBoxFor(m => m.DomainName, new { @class = "form-control", data_bind = "value: blockModel.domainName" })
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var contentBlockModel = (function () {
        var f = {};
        f.updateModel = function () {
            viewModel.blockModel.accountNumber = ko.observable(0);
            viewModel.blockModel.domainName = ko.observable(0);

            var data = ko.mapping.fromJSON(viewModel.blockModel.blockValues());

            if ((isFunction(data) && data()) || data) {
                if (data.accountNumber == undefined) {
                    // If this is not set, it means the contentBlock is new and we have nothing in blockValues
                    return;
                }
                if (data.AccountNumber) {
                    viewModel.blockModel.accountNumber(data.AccountNumber());
                }
                if (data.DomainName) {
                    viewModel.blockModel.domainName(data.DomainName());
                }
            }
        };
        f.cleanUp = function () {
            delete viewModel.blockModel.accountNumber;
            delete viewModel.blockModel.domainName;
        };
        f.onBeforeSave = function () {
            var data = {
                AccountNumber: viewModel.blockModel.accountNumber(),
                DomainName: viewModel.blockModel.domainName()
            };

            viewModel.blockModel.blockValues(ko.mapping.toJSON(data));
        };
        return f;
    })();
</script>