<connectionStrings>
  <!--<add name="DefaultConnection"
         connectionString="Server=.\SQLExpress2012;Initial Catalog=Kore_Test;Integrated Security=True;Persist Security Info=True;MultipleActiveResultSets=True"
         providerName="System.Data.SqlClient" />-->
  <add name="NLogConnection"
       connectionString=""
       providerName="System.Data.SqlClient" />
</connectionStrings>