@using Kore.Infrastructure
@using Kore.Plugins.Messaging.Forums
@using Kore.Plugins.Messaging.Forums.Models
@model IndexModel

@{
    ViewBag.Title = T(LocalizableStrings.PageTitle.Default);
}

<div class="page forums-main-page">
    @*@Html.Action("TopicBlock", "Topic", new { systemName = "ForumWelcomeMessage" })*@
    @Html.Partial("_ForumHeader")

    @foreach (var forumGroup in Model.ForumGroups)
    {
        Html.RenderPartial("_ForumGroup", forumGroup);
    }

    @Html.Action("ActiveDiscussionsSmall")
</div>