@using Kore.Web.ContentManagement

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

    Style.IncludeBundle("kendo-ui");

    Script.IncludeBundle("kendo-ui");
    Script.IncludeBundle("notify");

    Script.IncludeBundle("kore-cms/queued-emails");
}

<div id="grid-section" class="row">
    <div class="col-md-12">
        <a data-bind="click: create" class="btn btn-success">
            <i class="fa fa-envelope-o"></i>
            SMTP Settings
        </a>
    </div>

    <div class="clearfix"></div>
    <br />

    <div class="col-md-12">
        <div id="Grid"></div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        var translations = {
            Delete: '@T(KoreWebLocalizableStrings.General.Delete).Text',
            DeleteRecordConfirm: '@T(KoreWebLocalizableStrings.Messages.ConfirmDeleteRecord).Text',
            DeleteRecordError: '@T(KoreWebLocalizableStrings.Messages.DeleteRecordError).Text',
            DeleteRecordSuccess: '@T(KoreWebLocalizableStrings.Messages.DeleteRecordSuccess).Text'
        }
    </script>
}