@using Kore.Plugins.Indexing.Lucene
@using Kore.Web.ContentManagement
@using LocalizableStrings = Kore.Plugins.Indexing.Lucene.LocalizableStrings

@model Kore.Plugins.Indexing.Lucene.LuceneSearchBlock

<div id="block-content">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="form-group">
            @Html.LabelFor(m => m.Style, new { @class = "control-label col-xs-12 col-sm-4 col-md-3 col-lg-3" })
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                @Html.EnumDropDownListFor(m => m.Style, null, new { @class = "form-control", data_bind = "value: style" })
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var contentBlockModel = (function () {
        var f = {};
        f.updateModel = function () {
            viewModel.style = ko.observable("");

            var data = ko.mapping.fromJSON(viewModel.blockValues());

            if ((isFunction(data) && data()) || data) {
                if (data.Style == undefined) {
                    // If this is not set, it means the contentBlock is new and we have nothing in blockValues
                    return;
                }
                if (data.Style) {
                    viewModel.style(data.Style());
                }
            }
        };
        f.cleanUp = function () {
            delete viewModel.style;
        };
        f.onBeforeSave = function () {
            var data = {
                Style: viewModel.style()
            };

            viewModel.blockValues(ko.mapping.toJSON(data));
        };
        return f;
    })();
</script>