@using Kore.Web.ContentManagement.Areas.Admin.Sitemap
@using Kore.Web.ContentManagement.Areas.Admin.Sitemap.Domain
@model IEnumerable<SitemapConfig>

@{
    string rtlClass = IsRightToLeft ? "k-rtl" : string.Empty;
}

@Html.Hidden("GridPageSize", SiteSettings.DefaultGridPageSize)

<div id="grid-section" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <a data-bind="click: generateFile" href="javascript:void(0)" class="btn btn-success">
            <i class="kore-icon kore-icon-save"></i>
            @T(KoreCmsLocalizableStrings.Sitemap.GenerateFile)
        </a>
    </div>

    <div class="clearfix"></div>
    <br />

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 @rtlClass">
        <div id="Grid"></div>
    </div>
</div>