@model Kore.Web.ContentManagement.Areas.Admin.Pages.StandardPage

@{
    Layout = Model.LayoutPath;
    ViewBag.Title = Model.MetaTitle;
    SetMeta("keywords", Model.MetaKeywords);
    SetMeta("description", Model.MetaDescription);
    SetMeta("title", Model.MetaTitle);
}
<div class="topspacer">
    <div class="container">
        @Html.Raw(Model.BodyContent)
        
    </div>
</div>