@model Kore.Web.ContentManagement.Areas.Admin.Pages.StandardPage

@{
    Layout = Model.LayoutPath;
    SetMeta("keywords", Model.MetaKeywords);
    SetMeta("description", Model.MetaDescription);
}

<article class="page-content">
    <header>
        <h1>@Model.InstanceName</h1>
    </header>
    <div class="article-content">
        @Html.Raw(Model.BodyContent)
    </div>
</article>