@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    Script.IncludeBundle("breeze");
    Script.IncludeBundle("knockout");
    Script.IncludeBundle("kore-cms/blog-content");
}

<div id="main-section" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div data-bind="foreach: entries">
            <h2 data-bind="html: headline, click: showDetails"></h2>
            <p>Posted by <span data-bind="html: userName"></span> on <span data-bind="html: dateCreated"></span></p>
            <p data-bind="html: shortDescription"></p>
            <hr />
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="pager"></div>
    </div>
</div>
<div id="details-section" class="row" style="display:none">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="pull-right">
            <a class="btn btn-default" data-bind="click: showMain">Back</a>
        </div>
        <h1 data-bind="html: selected().headline"></h1>
        <p data-bind="html: selected().fullDescription"></p>
        <div class="pull-right">
            <a class="btn btn-default" data-bind="click: showMain">Back</a>
        </div>
    </article>
</div>