@model KoreCMS.Models.Pages.TestPage

<div id="fields-content" class="col-sm-12 col-md-12">
    <div class="form-group">
        @Html.Label("TestProperty", "Test Property", new { @class = "control-label" })
        @Html.TextBox("TestProperty", null, new { @class = "form-control", data_bind = "value: testProperty" })
    </div>
</div>

<script type="text/javascript">
    function updateModel() {
        viewModel.testProperty = ko.observable("");

        var data = ko.mapping.fromJSON(viewModel.fields());

        if (data && data.TestProperty) {
            viewModel.testProperty(data.TestProperty());
        }
    };

    function cleanUp() {
        delete viewModel.testProperty;
    }

    function onBeforeSave() {
        var data = {
            TestProperty: viewModel.testProperty()
        };

        viewModel.fields(ko.mapping.toJSON(data));
    };
</script>