@using Kore.Infrastructure
@using Kore.Web.ContentManagement.Areas.Admin.Blog.ContentBlocks
@using Kore.Web.ContentManagement.Areas.Admin.Blog.Services
@using Kore.Web.Mvc.KoreUI
@model LastNPostsBlock

@{
    var blogService = EngineContext.Current.Resolve<IBlogPostService>();
    var entries = blogService.Query()
        .OrderByDescending(x => x.DateCreatedUtc)
        .Take(Model.NumberOfEntries)
        .ToList();
}

@using (var panel = Html.KoreUI().Begin(new Panel(state: State.Primary)))
{
    using (var header = panel.BeginHeader(T(KoreCmsLocalizableStrings.Blog.Posts))) { }
    using (var body = panel.BeginBody())
    {
        <ul class="list-unstyled latest-blog-entries-list">
            @foreach (var entry in entries)
            {
                <li>
                    @if (entry.UseExternalLink)
                    {
                        @Html.Link(entry.Headline, entry.ExternalLink, PageTarget.Blank)
                    }
                    else
                    {
                        @Html.ActionLink(entry.Headline, "Details", "BlogContent", new { area = string.Empty, slug = entry.Slug }, null)
                    }
                </li>
            }
        </ul>
    }
}