@using Kore.Web.ContentManagement
@model Kore.Web.ContentManagement.Areas.Admin.Pages.Domain.Page

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<article class="page-content @Model.CssClass">
    <header>
        <h1>@Model.Title</h1>
    </header>
    <div class="article-content">
        @Html.Raw(Model.BodyContent)
    </div>
</article>*@

@Html.Raw(Model.BodyContent)