@using Kore.Plugins.Maintenance.Watchdog
@using Kore.Web.Mvc

@model WatchdogSettings

<div id="settings-content">
    <div class="form-group">
        <div class="checkbox">
            <label>
                @Html.CheckBoxFor(m => m.OnlyShowWatched, new { data_bind = "checked: onlyShowWatched" }) @T(LocalizableStrings.Settings.OnlyShowWatched)
            </label>
        </div>
    </div>
    <div class="form-group">
        <div class="checkbox">
            <label>
                @Html.CheckBoxFor(m => m.AllowAddRemove, new { data_bind = "checked: allowAddRemove" }) @T(LocalizableStrings.Settings.AllowAddRemove)
            </label>
        </div>
    </div>
</div>

<script type="text/javascript">
    function updateModel(viewModel, data) {
        viewModel.onlyShowWatched = ko.observable(false);
        viewModel.allowAddRemove = ko.observable(true);

        if (data) {
            if (data.OnlyShowWatched && typeof data.OnlyShowWatched === 'boolean') {
                viewModel.onlyShowWatched(data.OnlyShowWatched);
            }
            if (data.AllowAddRemove != null && data.AllowAddRemove !== undefined && typeof data.AllowAddRemove === 'boolean') {
                viewModel.allowAddRemove(data.AllowAddRemove);
            }
        }
    };

    function cleanUp(viewModel) {
        delete viewModel.onlyShowWatched;
        delete viewModel.allowAddRemove;
    }

    function onBeforeSave(viewModel) {
        var data = {
            OnlyShowWatched: viewModel.onlyShowWatched(),
            AllowAddRemove: viewModel.allowAddRemove()
        };

        viewModel.value(ko.mapping.toJSON(data));
    };
</script>