@using Kore.Web.ContentManagement.Areas.Admin.Newsletters

@model NewsletterUserProfileProvider

<div class="checkbox">
    <label>
        @Html.CheckBoxFor(m => m.SubscribeToNewsletters) Subscribe to Newsletters
    </label>
</div>