@using Kore.Web.ContentManagement.Areas.Admin.Blog.Domain
@using Kore.Web.ContentManagement
@using Kore.Web.ContentManagement.Extensions;

@{
    Layout = KoreWebConstants.DefaultAdminLayoutPath;

    Style.IncludeBundle("kendo-ui");

    Script.IncludeBundle("kendo-ui");
    Script.IncludeBundle("knockout");
    Script.IncludeBundle("notify");

    Script.IncludeBundle("kore-cms/newsletters/subscribers");
}

<div id="grid-section" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <a data-bind="click: downloadCsv" class="btn btn-primary">
            <i class="fa fa-save"></i>
            Export to CSV
        </a>
    </div>

    <div class="clearfix"></div>
    <br />

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="Grid"></div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        var translations = {
            Delete: '@T(KoreWebLocalizableStrings.General.Delete).Text',
            DeleteRecordConfirm: '@T(KoreWebLocalizableStrings.Messages.ConfirmDeleteRecord).Text',
            DeleteRecordError: '@T(KoreWebLocalizableStrings.Messages.DeleteRecordError).Text',
            DeleteRecordSuccess: '@T(KoreWebLocalizableStrings.Messages.DeleteRecordSuccess).Text'
        }
    </script>
}