@using Kore.Web.ContentManagement.Areas.Admin.Blog.Domain
@using Kore.Web.ContentManagement

@{
    string rtlClass = IsRightToLeft ? "k-rtl" : string.Empty;
}

<div id="grid-section" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <a data-bind="click: downloadCsv" class="btn btn-primary">
            <i class="fa fa-save"></i>
            @T(KoreCmsLocalizableStrings.Newsletters.ExportToCSV)
        </a>
    </div>

    <div class="clearfix"></div>
    <br />

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 @rtlClass">
        <div id="Grid"></div>
    </div>
</div>

@Html.Hidden("GridPageSize", SiteSettings.DefaultGridPageSize)