@using Kore.Web.Mobile
@using Kore.Web.Mvc

@model MobileUserProfileProvider

<div class="checkbox">
    <label>
        @Html.CheckBoxFor(m => m.DontUseMobileVersion, new { disabled = "disabled" }) Don't Use Mobile Version
    </label>
</div>