<div id="roles-form-section" class="row" style="display:none">
    <article class="col-sm-12 col-md-12">
        <form id="roles-form-section-form" role="form">
            <fieldset>
                <legend id="roles-form-section-legend"></legend>
                <div class="col-sm-12 col-md-12">
                    <div class="form-group">
                        @Html.Label("Name", T(KoreCmsLocalizableStrings.Membership.RoleModel.Name), new { @class = "control-label" })
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="kore-icon kore-icon-group"></i>
                            </span>
                            @Html.TextBox("Name", null, new { @class = "form-control", data_bind = "value: roleModel.name" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12">
                    <div class="form-group pull-right">
                        <button type="button" class="btn btn-default" data-bind="click: roleModel.cancel">@T(KoreWebLocalizableStrings.General.Cancel)</button>
                        <button type="button" class="btn btn-primary" data-bind="click: roleModel.save"><i class="kore-icon kore-icon-save"></i> @T(KoreWebLocalizableStrings.General.Save)</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </article>
</div>