<div id="role-permissions-form-section" class="row" style="display:none">
    <form id="role-permissions-form-section-form" role="form">
        <fieldset>
            <legend>@T(KoreCmsLocalizableStrings.Membership.EditRolePermissions)</legend>
            <div class="col-sm-12 col-md-12">
                <div class="form-group">
                    @*@Html.Label("RolePermissions", "Permissions", new { @class = "control-label" })*@
                    @Html.Kore().PermissionsCheckBoxList("RolePermissions", null, new { @class = "checkbox" }, new { data_bind = "checked: roleModel.permissions" })
                </div>
            </div>
            <div class="col-sm-12 col-md-12">
                <div class="form-group pull-right">
                    <button type="button" class="btn btn-default" data-bind="click: roleModel.editPermissions_cancel">@T(KoreWebLocalizableStrings.General.Cancel)</button>
                    <button type="button" class="btn btn-primary" data-bind="click: roleModel.editPermissions_save">@T(KoreWebLocalizableStrings.General.Save)</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>