<div id="roles-grid-section" class="row" style="display:none">
    <div class="col-md-12">
        <a data-bind="click: roleModel.create" class="btn btn-primary">
            <i class="fa fa-plus"></i>
            @T(KoreWebLocalizableStrings.General.Create)
        </a>
        <a data-bind="click: viewUsers" class="btn btn-default">
            <i class="fa fa-user"></i>
            @T(KoreCmsLocalizableStrings.Membership.Users)
        </a>
    </div>

    <div class="clearfix"></div>
    <br />

    <div class="col-md-12">
        <div id="RolesGrid"></div>
    </div>
</div>