<div id="users-grid-section" class="row">
    <div class="col-md-12">
        <a data-bind="click: userModel.create" class="btn btn-primary">
            <i class="fa fa-plus"></i>
            @T(KoreWebLocalizableStrings.General.Create)
        </a>
        <a data-bind="click: viewRoles" class="btn btn-default">
            <i class="fa fa-group"></i>
            @T(KoreCmsLocalizableStrings.Membership.Roles)
        </a>

        <div class="pull-right">
            @Html.Kore().RolesDropDownList("RoleFilter", null, new { @class = "form-control", data_bind = "value: userModel.filterRoleId, event: { change: userModel.filterRole }" }, string.Empty)
        </div>
    </div>

    <div class="clearfix"></div>
    <br />

    <div class="col-md-12">
        <div id="UsersGrid"></div>
    </div>
</div>