@using Kore.Localization.Domain
@using Kore.Web.ContentManagement

@{
    string rtlClass = IsRightToLeft ? "k-rtl" : string.Empty;
    string cultureCode = ViewBag.CultureCode;
}

@Html.Hidden("GridPageSize", SiteSettings.DefaultGridPageSize)
@Html.Hidden("CultureCode", cultureCode)

<div id="grid-section" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <a onclick="viewModel.exportFile();" class="btn btn-success">
            <i class="kore-icon kore-icon-export"></i>
            @T(KoreWebLocalizableStrings.General.Export)
        </a>
    </div>

    <div class="clearfix"></div>
    <br />

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 @rtlClass">
        <div id="Grid"></div>
    </div>
</div>