@using Castle.Core.Logging;
@using Kore.Logging;

@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    
    string msg = string.Format(
        "Error in Controller: {0}, Action: {1} - {2}",
        Model.ControllerName,
        Model.ActionName,
        Model.Exception.Message);

    var logger = LoggingUtilities.Resolve();
    logger.Error(msg, Model.Exception);
}

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center error-box">
                        <h1 class="error-text tada animated">
                            <i class="fa fa-times-circle text-danger error-icon-shadow"></i>
                            Error 500
                        </h1>
                        <h2 class="font-xl"><strong>Oooops, Something went wrong!</strong></h2>
                        <br />
                        <p class="lead semi-bold">
                            <strong>You have experienced a technical error. We apologize.</strong><br><br>
                            <small>
                                We are working hard to correct this issue. Please wait a few moments and try your search again.
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>