@using Kore.Plugins.Widgets.FullCalendar
@using Kore.Plugins.Widgets.FullCalendar.ContentBlocks
@model FullCalendarBlock

<div id="block-content" class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="form-group">
            @Html.LabelFor(m => m.CalendarId, new { @class = "control-label" })
            @Html.FullCalendar().CalendarDropDownListFor(m => m.CalendarId, new { @class = "form-control", data_bind = "value: calendarId" })
        </div>
    </div>
</div>

<script type="text/javascript">
    var contentBlockModel = (function () {
        var f = {};
        f.updateModel = function () {
            viewModel.calendarId = ko.observable("btn btn-success");

            var data = ko.mapping.fromJSON(viewModel.blockValues());

            if (data) {
                if (data.CalendarId) {
                    viewModel.calendarId(data.CalendarId());
                }
            }
        };
        f.cleanUp = function () {
            delete viewModel.calendarId;
        };
        f.onBeforeSave = function () {
            var data = {
                CalendarId: viewModel.calendarId()
            };

            viewModel.blockValues(ko.mapping.toJSON(data));
        };
        return f;
    })();
</script>