@using Kore.Web.ContentManagement.Areas.Admin.Widgets.Models

@model SaveResultModel

<script>
    if (!window.jQuery) {
        document.write('<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"><\/script>');
    }
</script>

@Html.Raw(Model.Message)


<div style="text-align:center;margin-top:140px;">
    <p>
        If this page does not automatically redirect, please click the following link to continue:
        <a href="@Model.RedirectUrl" class="btn btn-primary">Redirect</a>
    </p>

</div>
<script type="text/javascript">
    $(document).ready(function () {
        setTimeout(function () {
            window.location.replace('@Model.RedirectUrl');
        }, 5000);
    });
</script>

